
<html lang="en">

<head>
    <title>Топчик сайт</title>
</head>

<body>
    <br>
    <h1>Aliaksandr</h1>
    <br>
    <br>
    <textarea style="width:500px; height:200px;" name = "usertext"></textarea>
    <br>
    <br>
    <input type="button" value="Reverse!" src="">
    <br><br><hr><br><br>


    <audio controls style="width:100%;max-width:600px;" loop>
        <source src="E:\audio\lun son.mp3" type="audio/mp3">
    </audio>

    <br><br><br><br>

    <table border="10"style="width:350px; height:200px;">
	<tr>
		<td>😬😬😬</td><td>😬😬😬</td>
		<td>😬😬😬</td><td>😬😬😬</td>
	</tr>

	<tr>
		<td>😬</td><td>😬</td>
		<td>😬</td><td>😬</td>
	</tr>

	<tr>
		<td>😬</td><td>😬</td>
        <td>😬</td><td>😬</td>
	</tr>
        <tr>
		<td>😬</td><td>😬</td>
		<td>😬</td><td>😬</td>
	    </tr>
    </table>

<img src="E:\audio\is.jpg">




</body>
    </html>


